<li>
  <article [ngStyle]="{backgroundColor: getBcg() }" class="wrapper">
    <header>
      <h2>{{ post.title }}</h2>
      {{ post.loveIts }}
    </header>
    <main>
      {{ post.content }}
    </main>
    <aside>
        <button class="btn btn-success" (click)="increaseLike()">J'aime</button>
        <button class="btn btn-danger" (click)="decreaseLike()">Je n'aime pas</button>
        <button class="btn btn-danger" (click)="onDeletePost(post)">Supprimer</button>
    </aside>
    <footer>
      By {{ post.author }} on {{ post.created_at }}
    </footer>
  </article>
</li>
